<!DOCTYPE html>
<html lang="{{ site.lang | default: 'en-US' }}">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta charset="utf-8">
    <title>{{ site.title }}</title>
    <link rel="stylesheet" href="{{ '/assets/css/main.css' | relative_url }}">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
  </head>
  <body>
    <article class="first">
      <div class="content">
        <video autoplay muted loop width="120" height="120" playsinline webkit-playsinline x5-video-player-type="h5">
          <source src="/mistune/assets/glitch.mp4" type="video/mp4">
          <img src="/mistune/assets/fallback.png" width="120" height="120">
        </video>

        <h1 class="glitch" data-text="Mistune">Mistune</h1>
        <h2>Remote code execution vulnerabilities <br>that have been hiding for a decade</h2>
        <nav>
          <a href="#main"><span class="material-icons">book</span>About</a>
          <a href="#video"><span class="material-icons">theaters</span>Video</a>
        </nav>
      </div>
    </article>

    <main id="main">
      <div class="container content">
        {{ content }}
      </div>
    </main>

    <article>
      <div class="container content">
        <h3>Enough logos for bugs!</h3>
        <p>So you are just another security researcher trying to hype?</p>
        <p>More than that. I've even got a commercial!</p>
      </div>
    </article>

    <section class="commercial">
      <div class="container" id="video">
        {% include player.html %}
      </div>
    </section>

    <article>
      <div class="container content">
        <h3>Disclosure eta wen</h3>
        <p>All the bugs have been patched, including some of the exploitation techniques.
          Hopefully the talk will be released soon</p>
      </div>
    </article>
    
    {% include footer.html %}

    <script type="application/javascript">
      // shitty WeChat
      document.addEventListener('WeixinJSBridgeReady', () =>
        document.querySelector('video').play(), false);
    </script>
    <script type="application/javascript">
      if (!('scrollBehavior' in document.querySelector('html').style)) {
        document.querySelectorAll('.first nav > a').forEach(link => {
          link.addEventListener('click', e => {
            if (e.srcElement.nodeName.toLowerCase() !== 'a') return

            e.preventDefault();
            console.log(e.target, e.srcElement)
            document.getElementById(e.srcElement.href.substring(1)).scrollIntoView({
              behavior: "smooth", block: "end", inline: "nearest"
            });
          });
        })
      }
    </script>
  </body>
</html>
